/* Googlefonts*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900);
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


/* #preloader {
    overflow: hidden;
    background: rgb(20, 113, 219);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
  }
  
  #preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  
  #preloader .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  
  #preloader .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
  }
  
  #preloader .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  } */


/* @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } */

body {
    background-color: whitesmoke;
    font-family: "poppins, san serif";
}


/* header */

header {
    background-color: whitesmoke;
    background-image: url(./Assets/04/service-bg-scaled.jpg);
    background-size: cover;
    height: 118vh;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 60px;
    /* max-width: 1200px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 10%;
    margin-right: 10%; */
    top: 0;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

.navbar .logo {
    margin-left: 100px;
}

.navbar .logo img {
    width: 100px;
}

.navbar .links {
    display: flex;
    gap: 10px;
}

.navbar .toggle_btn {
    color: black;
    cursor: pointer;
    display: none;
    margin-right: 10%;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
}

.links>li>a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-size: 15px;
    border-radius: 20px;
    border: 1px outset #ccc;
    padding: 5px 14px;
    margin: 15px;
    font-weight: bold;
    font-family: "Poppins";
}

.links>li>a:hover {
    color: rgb(20, 113, 219);
}

li.dropdown {
    display: inline-block;
}

.dropdown .dropbtn {
    border: none;
}

.dropdown-content {
    font-family: "Poppins";
    display: none;
    position: absolute;
    right: 278px;
    backdrop-filter: blur(30px);
    width: 200px;
    justify-content: center;
    margin-top: 5px;
    border-radius: 35px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    font-weight: bold;
}

.dropdown-content a:hover {
    color: rgb(20, 113, 219);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 250px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 100vh;
}

.dropdown_list>a {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.dropdown_menu .reg_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reg_btn {
    background-color: rgb(20, 113, 219);
    color: #fff;
    padding: 5px 14px;
    margin: 15px;
    margin-right: 100px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.reg_btn:hover {
    scale: 1.05;
    color: #fff;
    background-color: rgb(22, 22, 22);
}

.reg_btn:active {
    scale: 0.95;
}

.head-video {
    width: 100%;
    height: 200vh;
}

video {
    width: 100%;
}

.head-text {
    z-index: 1;
    color: black;
    position: absolute;
    top: 250;
    right: 110;
    backdrop-filter: blur( 35px);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
}

.big-text {
    color: #fff;
    font-size: 70px;
    line-height: 70px;
}

.big-text .stroke {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(20, 113, 219);
}

.head-p {
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
}

.see {
    padding: 6px 15px;
    color: rgb(107, 44, 44);
    border-radius: 20px;
    border: 1px outset;
    margin-top: 40px;
}

@media(max-width: 768px) {
    .navbar .links,
    .navbar .reg_btn {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
        z-index: 2;
        width: 75vw;
    }
}

.hr-b {
    width: 8%;
    border: 1.7px solid rgb(20, 113, 219);
    position: absolute;
    left: 450;
    bottom: -215;
}

h2 {
    text-align: right;
    margin-right: 190px;
    font-size: 55px;
    color: rgb(20, 113, 219);
    font-weight: bold;
}

h2 .stroke-b {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(20, 113, 219);
}

.about {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
  
.about .left, 
.about .right {
    flex: 1;
    padding: 20px;
}
  
.about .left img {
    width: 450px;
    border-radius: 20px;
    object-fit: fill;
}

.container-h {
    color: rgb(107, 44, 44);
    font-size: 40px;
    font-weight: bold;
}

.container-p {
    color: black;
}

.counter-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.counter-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.counter-item {
    text-align: center;
    margin: 20px;
}

.counter-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.counter {
    font-size: 48px;
    font-weight: bold;
    color: #007bff;
}

.counter-item .plus {
    font-size: 48px;
    color: #007bff;
    position: relative;
    top: -72.5px;
    left: 40;
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card i {
    font-size: 48px;
    color: rgb(20, 113, 219);
    margin-bottom: 20px;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
}

.team {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.team h2 {
    text-align: left;
    margin-left: 40px;
}

.team .hr-b {
    width: 8%;
    border: 1.7px solid rgb(20, 113, 219);
    position: relative;
    left: 475;
    bottom: 25;
}

.container-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.image-container img {
    display: block;
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 25px;
}

.overlay h3 {
    color: white;
    font-size: 24px;
    text-align: center;
}
.overlay p {
    color: white;
    font-size: 18px;
    text-align: center;
}

.overlay li {
    list-style: circle;
    color: white;
    font-size: 18px;
    text-align: left;
}

.image-container.active img {
    transform: scale(1.1);
}

.image-container.active .overlay {
    opacity: 1;
}

.parallax{
    background-image: url(Assets/img1\ \(4\).jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin: 0;
    padding: 0;
    filter: brightness(0.6);
}

.parallax-overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
















/* footer Section styling */
footer{
    background-color: whitesmoke;
    position: relative;
    /* width: 100%; */
    /* min-height: 350px; */
    padding: 3rem 1rem;
}
.container {
   /* max-width: 1140px; */
   /* width: 100%; */
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   /* min-width: 250px; */
   color:rgb(22, 22, 22);
   font-family: poppins;
   padding:0 2rem;
   width: 30%;
}
#company{
    width: 40%;
}
#services{
    margin-right: 0;
}
#useful-links{
    margin-left: 0;
}
#contacts{

}
.col .logo{
   width: 150px;
   margin-bottom:25px;
}
.col h3{
   color:rgb(20, 113, 219);
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: rgb(20, 113, 219);
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:rgb(20, 113, 219);
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col .links a{
   display: block;
   text-decoration: none;
   color:rgb(22, 22, 22);
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: rgb(20, 113, 219);
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:rgb(20, 113, 219);
}
.col .contact-details{
   display: inline-flex;

   justify-content: space-between;
}
.col .contact-details i{
   margin-right:15px;
}
.row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem 0;
}
.row .form input{
   background-color: rgb(22, 22, 22);
   color: #fff;
   border:0;
   outline:none;
   padding:14px 20px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.form button{
   padding:14px 20px;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: rgb(20, 113, 219);
}
.line-footer{
    border: 0.5px solid rgb(20, 113, 219);
}
.inner-content{
    text-align: center;
}

/********** Responsive Design ********/
@media(max-width:900px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
 .row{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 20px;
 }
}