
/* Googlefonts*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900);
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1{
    font-size: 70px;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 40px;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
h3{
    font-size: 20px;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
}

.links> li > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    border-radius: 20px;
    border: 1px outset #ccc;
    padding: 8px;
    font-weight: bold;
}

.links> li > a:hover {
    background-color: darkblue;
    color: #fff;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar .logo img {
    width: 100px;
}

.navbar .links {
    display: flex;
    gap: 10px;
}

.navbar .toggle_btn {
    color: black;
    cursor: pointer;
    display: none;
    margin-right: 10%;
}

.reg_btn {
    background-color: darkblue;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.reg_btn:hover {
    scale: 1.05;
    color: #fff;
}

.reg_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 250px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 100vh;
}

.dropdown_list > a {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.dropdown_menu .reg_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 768px){
    .navbar .links,
    .navbar .reg_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}